body
{
    background-color:black


}
p{
    color: red
}
h1{
    color:magenta
}
blockquote{
    color:magenta
<<<<<<< HEAD
}
=======
}
>>>>>>> f9a9e486d6b1d83c5e9a3114a436ebf86df70fb0
